{% extends "bootstrap/base.html" %}
{% block title %}A||B{% endblock title %}
{% block head %}
  {{ super() }}
  {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  {% endblock styles %}
  {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}" defer></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" defer></script>
    <script src="/static/app.js" defer></script>
  {% endblock scripts %}
{% endblock head %}

{% block body_attribs %} ng-app="AorB"{% endblock body_attribs %}
{% block body %}
  {% include 'modal.create-poll.html' %}
  {% include 'notifications.html' %}
  <header>
  {% block header %}
    {% block navbar %}
      {% include 'nav.top.html' %}
    {% endblock navbar %}
  {% endblock header %}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>
{% endblock body %}
