<footer class="footer container-fluid d-flex flex-column justify-content-center">
  <nav class="container">
    <ul class="nav d-flex justify-content-between align-items-center">
      <li class="text-muted d-flex flex-column justify-content-around align-items-center">
        <span class="fa fa-list-alt fa-lg footer__icon"></span>
        <span class="x-small">Polls</span>
      </li>
      <li class="text-muted d-flex flex-column justify-content-around align-items-center">
        <span class="fa fa-bell-o fa-lg footer__icon"></span>
        <span class="x-small">Notifications</span>
      </li>
      <li class="text-muted d-flex flex-column justify-content-around align-items-center">
        <span class="fa fa-user-o fa-lg footer__icon"></span>
        <span class="x-small">Me</span>
      </li>
    </ul>
  </nav>
</footer>
