<header class="container-fluid header">
  <nav class="container">
    <ul class="nav d-flex justify-content-between align-items-center">
      <li><a href="/"><img class="header-logo" src="/static/assets/logo699-03.png" alt="A||B"></a></li>
      {% if current_user.is_authenticated %}
      <li><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-create-poll"><span class="text-primary">Ask Question</span></button></li>
      {% else %}
      <li><a href="{{ url_for('login') }}"><span class="text-primary">Ask Question</span></a></li>
      {% endif %}
    </ul>
  </nav>
</header>
