{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}694 App Form{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Hello, {{ current_user.username }}!</h1>
</div>

{{ wtf.quick_form(form) }}

<p>&nbsp;
<div class="nav nav-tabs">
    <ul class="nav nav-tabs">
        <li>Users</li>
           </ul>
           <ul class="Ready">
              {% for otheruser in otherusers %}
               <li> {{ otheruser.username }} is {{ otheruser.ready }}     </li>         {% if otheruser != current_user %}
                {% if not current_user.is_following(otheruser) %}
                <a href="follow/{{ otheruser.username }}" class="btn btn-primary">Follow</a>
                {% else %}
                <a href="unfollow/{{ otheruser.username }}" class="btn btn-default">Unfollow</a>

                {% endif %}
            {% endif %}
               {% endfor %}
           </ul>

</div>



{% endblock %}
