<html>
<!-- Angular stuff goes to this template-->

<script>
</script>
<H1>This is the template for Angular stuff</H1>
<p> use /showpoll_ng to get json version of all the list of polls.
/create_poll and repaning URLs are still directed to the Jinja version of the template...<br>
/register to create a new user<br>
/login to login<br>
<br>
I will create more URLs later in the week and make updates as we work on the teplates! 
<br>
/(url name)_ng seems to be a decent teplate to follow for the API URL for all the pages

</html>