{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% raw %}
<div ng-controller="feed" ng-cloak>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="poll in feed.polls">
      <div class="card poll">
        <header class="card-header">
          <div class="d-flex align-items-baseline">
            <span class="fa fa-2x fa-user text-muted user-img"></span>
            <h6 class="card-title">{{poll.title}}</h6>
          </div>
          <div class="d-flex justify-content-between text-muted">
            <span class="x-small">{{poll.total_votes}} votes</span>
            <span class="x-small">0 likes</span>
            <span class="x-small">0 comments</span>
          </div>
          <span>
        </header>
        <div class="card-block d-flex align-items-stretch vote-btn-container">
          <button ng-disabled="poll.voted_flag" ng-click="vote(poll, true)" type="button" class="btn btn-light vote-btn-container__btn">
            <span>{{poll.option1}}</span>
            <h3 ng-show="poll.voted_flag" class="display-4 text-primary">{{poll.percent1 | number:0}}%</h3>
          </button>
          <button ng-disabled="poll.voted_flag" ng-click="vote(poll, false)" type="button" class="btn btn-light vote-btn-container__btn">
            <span>{{poll.option2}}</span>
            <h3 ng-show="poll.voted_flag" class="display-4 text-primary">{{poll.percent2 | number:0}}%</h3>
          </button>
        </div>
        <footer class="card-footer d-flex justify-content-between text-muted">
          <span class="x-small">Expires 12:00pm, Dec. 23, 2017</span>
          <span class="x-small">Like</span>
          <span class="x-small">Share</span>
        </footer>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock content %}
