{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}694 App Form{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Hello, {{ current_user.username }}!</h1>
</div>

<div class="post-list">
  <ul class="posts">
      {% for poll in polls %}
      <li class="post">
          <div class="funday-content">
              <div class="post-info"><h2>{{ poll.title }} by <a href="/users/{{ poll.author.username }}">{{ poll.author.username }}</a></h2></div>
              <div class="post-body">
                <ul>
                <!-- leaving these as li for now, will change to input once making the voting system -->
                    <li>  {{ poll.option1 }}
                    <li>  {{ poll.option2 }}
                   
                  </ul>
              </div>
          </div>
      </li>
      {% endfor %}
  </ul></div>

<p>&nbsp;
<div class="nav nav-tabs">
    <ul class="nav nav-tabs">
        <li>Users</li>
           </ul>
           <ul class="Ready">
              {% for otheruser in otherusers %}
               <li> {{ otheruser.username }} is {{ otheruser.ready }}     </li>         {% if otheruser != current_user %}
                {% if not current_user.is_following(otheruser) %}
                <a href="follow/{{ otheruser.username }}" class="btn btn-primary">Follow</a>
                {% else %}
                <a href="unfollow/{{ otheruser.username }}" class="btn btn-default">Unfollow</a>

                {% endif %}
            {% endif %}
               {% endfor %}
           </ul>

</div>



{% endblock %}
