.poll {
  margin-bottom: 10px;
  color: $dark;
}

.user-img {
margin-right: 10px;
}

.vote-btn-container {
  min-height: 100px;

  &__btn {
    flex: 1;
  }

  .btn__text {
    white-space: normal;
  }
}
